<a href="https://colab.research.google.com/github/shivangtripathi/cloudLab/blob/main/lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TUPLES**

In [18]:


tuple1 = (1,2,3,4,5,6)
#insertion
def insert(x,tuple1):
  print("Before Insertion",tuple1)
  list1 = list(tuple1)
  list1.append(7)
  print("After Insertion",list1)
  return list1

tuple1 = tuple(insert(7,tuple1));

def remove(x,tuple1):
  print("Before Removing",tuple1)
  list1 = list(tuple1)
  list1.remove(x)
  print("After Removing",tuple1)
  return list1
  
tuple1 = tuple(insert(7,tuple1));

#indexing
print(tuple1[0:2])

Before Insertion (1, 2, 3, 4, 5, 6)
After Insertion [1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6, 7)

**DICTIONARY**

In [23]:
dict1 = {
    1:'one',
    2:'two',
    3:'three',
    4:'four'
}

#copying
print('\n -----dict2 copied----- \n')
dict2 = dict1.copy()
for x in dict2:
  print(x,' -> ',dict2[x])


#inserting
dict1[5]="five"
for x in dict1:
  print(x,' -> ',dict1[x])
print('\n -----after inserting five----- \n')

#updating
dict1[4]="FOUR"
for x in dict1:
  print(x,' -> ',dict1[x])
print('\n -----after updating four----- \n')

#deleting
dict1.pop(5) #remove the key value
for x in dict1:
  print(x,' -> ',dict1[x])
print('\n -----after popping five----- \n')

dict1.popitem() #removes last inserted item
for x in dict1:
  print(x,' -> ',dict1[x])
print('\n -----removed last element-----\n')

#clearing
dict1.clear()

 -----dict2 copied-----

1  ->  one
2  ->  two
3  ->  three
4  ->  four
1  ->  one
2  ->  two
3  ->  three
4  ->  four
5  ->  five

 -----after inserting five-----

1  ->  one
2  ->  two
3  ->  three
4  ->  FOUR
5  ->  five

 -----after updating four-----

1  ->  one
2  ->  two
3  ->  three
4  ->  FOUR

 -----after popping five-----

1  ->  one
2  ->  two
3  ->  three

 -----removed last element-----

**ASSIGNMENT 2**

In [28]:
#Q1
vowels = ('a','e','i','o','u')
def check_char(c,vowels):
  if(c in vowels):
    return True
  else:
    return False
c = input('Enter a character : ')
if(check_char(c,vowels)):
  print(c,"is a vowel")
else:
  print(c,"is not a vowel")

Enter a character : r
r is not a vowel

In [29]:
#Q2
color_list1 = set(["white","black","red"])
color_list2 = set(["red","green"])
print(color_list1-color_list2)

{'white', 'black'}

In [30]:
#Q3
x = int(input('enter x : '))
y = int(input('enter y : '))
def calculate(x,y):
  ans = x+y;
  ans*= ans;
  return ans;

print('(x+y)*(x+y) = ',calculate(x,y))

enter x : 5
enter y : 5
(x+y)*(x+y) =  100

In [32]:
#Q4
x = int(input("enter an integer : "))
def calculate_sum(x):
  sum = 0
  while(x>0):
    sum+= x%10
    x = x//10
  return sum

print("Sum of digits of ",x,' is ',calculate_sum(x))

enter an integer : 12
Sum of digits of  12  is  3

In [35]:
#Q5
x = str(input("Enter a string : "))
def calculate_len(x):
  count = 0
  for t in x:
    count+=1
  return count

print("Length of string ",x,' is ',calculate_len(x))

Enter a string : shivang
Length of string  shivang  is  7

In [48]:
#Q6
string1 = "abc,xyz"
str1,str2 = string1.split(',')
def swap(x,y):
  c1,c2 = x[1:3]
  r1,r2 = y[1:3]
  x = x.replace(c1,r1)
  x = x.replace(c2,r2)
  y = y.replace(r1,c1)
  y = y.replace(r2,c2)
  print(x,' '+y)
swap(str1,str2)

ayz  xbc

In [52]:
#Q7
string1 = "hey delilah"
def remove_index(x,string1):
  print("Before Removing = " ,string1)
  string1 = string1.replace(string1[x],"")
  print("After Removing = " ,string1)

remove_index(2,string1)

Before Removing =  hey delilah
After Removing =  he delilah

In [53]:
#Q8
str1 = input("Enter a string")
print("After converting to uppercase = ", str1.upper())
print("After converting to lowercase = ", str1.lower())

Enter a stringsSHivang
After converting to uppercase SSHIVANG
After converting to lowercase sshivang

In [57]:
#Q9
str1 = "abgrdftgh"
def insert_x(str1,x):
  size = len(str1)
  s1 = str1[0:size//2]
  s2 = str1[size//2:]
  print(s1+x+s2)

insert_x(str1,"2")

abgr2dftgh

In [63]:
#Q10
y = float(input("Enter a number : "))
def print_y(y):
  print(round(float(y),2))
print_y(y)

Enter a number : 12.2256
12.23